/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #eee;
    padding: 20px;
    border-radius: 5px;
}

input[type="file"],
select,
input[type="number"] {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para la imagen procesada */
img {
    max-width: 30%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block; /* Agregar esta línea */
}

.image-container {
    /* Elimina la propiedad display: inline-block; de este selector */
    margin-right: 20px; /* Ajusta el espacio entre las imágenes */
}

/* Estilos para el botón de Convertir */
.convert-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.convert-button:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de Descargar */
.download-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.download-button:hover {
    background-color: #0056b3;
}

