<!DOCTYPE html>
<html lang="es">
<head>

<script async src="https://www.googletagmanager.com/gtag/js?id=G-3T30CEDREN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3T30CEDREN');
</script>
    <link rel="icon" href="/static/imagenes/logo2.png" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PicOptimizer - Sube y Procesa Imágenes: Convierte imágenes de PNG a JPEG, WebP o viceversa y reduce su tamaño de forma rápida y sencilla. ¡Optimiza tus imágenes en línea!">
    <title>PicOptimizer - Sube y Procesa Imágenes</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Convierte imagenes con PicOptimizer</h1>
        </div>
        <div class="content">
            <form method="POST" enctype="multipart/form-data">
                <div class="upload-container">
                    <button type="button" class="button" id="add-item-button">
                        <span class="button__text">Sube tu imagen</span>
                        <span class="button__icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg"><line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line></svg></span>
                    </button>
                    <input type="file" name="file" id="file" class="file-input">
                </div>    
                <div class="options-container">
                    <div class="select-container">
                        <label for="output_format">Formato de salida:</label>
                        <select name="output_format" id="output_format" class="select-input">
                            <option value="jpeg">JPEG</option>
                            <option value="png">PNG</option>
                            <option value="webp">WebP</option>
                        </select>
                    </div>
                    <div class="quality-container">
                        <label for="quality">Calidad (0-100):</label>
                        <input type="number" name="quality" id="quality" class="number-input" min="0" max="100" value="70">
                    </div>
                    <div class="button-container">
                        <button type="submit" class="btn">
                            <svg type="submit" height="24" width="24" fill="#FFFFFF" viewBox="0 0 24 24" data-name="Layer 1" id="Layer_1" class="sparkle">
                                <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"></path>
                            </svg>
                            <span class="text">Convertir</span>
                        </button>
                        <button id="download-button" class="BtnDW">
                            <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                            <span class="icon2"></span>
                            <span class="tooltip">Descargar</span>
                        </button>
                    </div>           
                </div>
            </form>
        </div>
        <div class="preview-image-container hidden">
            <img id="preview-image" alt="Vista previa de la imagen">
        </div>
        
        {% if original_image %}   
        <div class="image-preview">
            <div class="original-image">
                <h2>Original:</h2>
                <img src="data:image/png;base64,{{ original_image }}" alt="Imagen Original">
                <p>Tamaño: {{ original_size }} KB</p>
            </div>
            
            <div class="converted-image">
                <h2>Convertida:</h2>
                <img src="{{ download_url }}" alt="Imagen Convertida">
                <p>Tamaño: {{ converted_size }} KB</p>
                {% if reduction_percentage %}
                    <p>Reducción: {{ reduction_percentage }}%</p>
                {% endif %}
            </div>
            
        </div>
        {% endif %}
    </div>

    <div class="social-links">
        <a class="social-link github" href="https://github.com/eljega" target="_blank">
            <img src="/static/imagenes/github.webp" alt="GitHub">
        </a>
        <a class="social-link linkedin" href="https://www.linkedin.com/in/eljega" target="_blank">
            <img src="/static/imagenes/linkedIn.webp" alt="LinkedIn">
        </a>
        <a class="social-link instagram" href="https://www.instagram.com/eljega" target="_blank">
            <img src="/static/imagenes/instagram.webp" alt="Instagram">
        </a>
        <p class="copyright"> © 2023 PicOptimizer by eljega </p>
    </div>

    <a class="button donation-button" href="https://paypal.me/Xexorcista?country.x=CO&locale.x=es_XC" target="_blank">
        Donaciones
        <svg class="cartIcon" viewBox="0 0 576 512">
            <path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"></path>
        </svg>
    </a>
    
    <div id="loader" class="hidden">
        <svg viewBox="25 25 50 50">
            <circle r="20" cy="50" cx="50"></circle>
        </svg>
    </div>
    
</body>
<script>
    
    var outputFormat = "{{ output_format }}";

    document.getElementById("file").addEventListener("change", function() {
        var previewImage = document.getElementById("preview-image");
        var previewContainer = document.querySelector(".preview-image-container");
        var fileInput = this;
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                previewImage.src = e.target.result;
                previewContainer.classList.remove("hidden");
            };
            reader.readAsDataURL(fileInput.files[0]);
        } else {
            previewImage.src = "";
            previewContainer.classList.add("hidden");
        }
    });

    document.getElementById("download-button").addEventListener("click", function(e) {
        e.preventDefault(); 

        // Simular un enlace de descarga
        var downloadLink = document.createElement("a");
        downloadLink.href = "{{ download_url }}";
        downloadLink.download = `imagen_procesada.${outputFormat}`; // Nombre de archivo para descarga
        downloadLink.style.display = "none";
        document.body.appendChild(downloadLink);
        downloadLink.click();
        document.body.removeChild(downloadLink);
    });

    document.getElementById("add-item-button").addEventListener("click", function () {
        document.getElementById("file").click(); 
    });

    
document.querySelector(".btn").addEventListener("click", function () {
    
    document.getElementById("loader").classList.remove("hidden");

   
    setTimeout(function () {
      
        document.getElementById("loader").classList.add("hidden");
    }, 5000); 
});

</script>
</html>
